.community-banner {
    background-color: var(--color-pink);
    color: white;
    height: 100px;
    font-family: var(--font-lato);
    font-size: 0.875rem;
    font-weight: 100;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section.community-banner {
    justify-content: center;
    padding: 2% 15vh;
}

.community-banner h1 {
    font-weight: 300;
}

.section .community-banner {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.banner-content h1 {
    letter-spacing: 2px;
}

.banner-content .bold-text {
    font-weight: 900;
}

@media screen and (max-width: 1050px) {
    h1 {
        font-size: large;
    }
}

@media screen and (max-width: 750px) {
    .community-banner {
        padding: 2% 5vh;
    }

    .community-banner .btn-secondary {
        margin-left: 5%;
    }
}

@media screen and (max-width: 300px) {
    .community-banner button {
        display: none;
    }
}
